/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  color: #000;
  line-height: 1.6em;
}
#showcase {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url("../images/header.jpg");
  background-size: cover;
  background-position: center;
  height: 67vh;
  /* using flex to center content */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* end */
  text-align: center;
  padding: 100px 20px;
  color: #fff;
  z-index: -1;
}
.showcase-cta {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}
.showcase-cta h1 {
  font-size: 50px;
  line-height: 1.2em;
  padding-bottom: 20px;
}
.showcase-cta p {
  font-size: 25px;
  line-height: 1.6em;
  max-width: 80%;
  padding-bottom: 20px;
}
.btn-container {
  display: flex;
  justify-content: center;
}
.btn-container .button {
  font-size: 26px;
  font-weight: 800;
  letter-spacing: 1px;
  text-decoration: none;
  color: #fff;
  background: #11998e;
  /* fallback for old browsers */
  background: linear-gradient(to right, #38ef7d, #11998e);
  padding: 10px 100px;
  border-radius: 10px;
  margin-top: 20px;
  text-transform: uppercase;
}
.btn-container .button.button:hover {
  background: #fff;
  color: #333;
}
#navbar {
  text-transform: uppercase;
  position: absolute;
  top: 5%;
}
#navbar ul {
  display: flex;
  justify-content: flex-end;
}
#navbar li {
  padding: 0 10px;
  list-style: none;
}
#navbar a {
  text-decoration: none;
  color: #fff;
}
#navbar a:hover {
  color: #333;
  border-bottom: 3px solid #fff;
  padding-bottom: 5px;
}
#navbar .current {
  color: #fff;
  border-bottom: 3px solid #fff;
  padding-bottom: 5px;
}
.mission-statement {
  padding: 20px;
  background: #333;
  color: #f4f4f4;
  text-align: center;
  line-height: 2em;
}
.login-cta {
  padding: 20px;
  background: #f4f4f4;
  color: #333;
  text-align: center;
  line-height: 2em;
}
